body {
    margin: 0;
    font-family: 'Franklin Gothic Medium';
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003399;
    color: white;
    padding: 10px 20px;
}

.logo img {
    width: 20rem;
}

.logo img:hover{
    filter:brightness(0.5)
}

.search-container {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 5px;
}

input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 50px;
    width: 500px;
    font-family: 'Franklin Gothic Medium';
}

.search-button {
    background-color: #ffcc00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 10px;
}

.search-button img {
    width: 20px;
}

.search-button img:hover{
    filter:brightness(0.5);
}

.profile-cart {
    display: flex;
    gap: 20px;
    align-items: center;
}

.cart, .profile {
    display: flex;
    align-items: center;
}

.cart {
    background-color: #003399;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.cart img {
    width: 2.5rem;
}

.cart img:hover {
    filter: brightness(0.5);
}

.profile {
    background-color: #003399;
    padding: 0px;
    cursor: pointer;
}

.profile img {
    width: 2.5rem;
    border-radius: 100%;
}

.profile img:hover {
    filter: brightness(0.5);
}

.menu div {
    margin-right: 24px;
}

.bx-cart-alt {
    font-size: 24px;
    color: rgba(255, 217, 0, 0.858);
}

#logout a {
    color: white; 
    text-decoration: none; 
}

#logout a:hover {
    color: #ffcc00; 
}

.menu div {
    margin-right: 24px;
}
.bx-cart-alt {
    font-size: 24px;
    color: rgba(255, 217, 0, 0.858);
}

.container {
    display: flex;
    margin: 20px;
}

.left {
    flex: 1.5;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid darkblue;
    border-radius: 8px;
}

.left h2 {
    font-size: 24px;
    font-weight: bold;
    color: darkblue;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium';
}

.left form {
    display: flex;
    flex-direction: column;
}

.left label {
    font-size: 14px;
    margin-bottom: 5px;
    color: darkblue;
}

.left input, .left select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium';
    outline: none;
}

.left input[type="submit"] {
    background-color: darkblue;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

.left input[type="submit"]:hover {
    background-color: rgba(255, 217, 0, 0.858);
    transform: translateY(-5px);
}

.flex-container {
    display: flex;
    gap: 20px;
}

.flex-container div {
    flex: 1;
}

.right {
    flex: 1;
    padding: 20px;
    margin-left: 20px;
    background-color: #f0f0f0;
    border: 1px solid darkblue;
    border-radius: 8px;
}

.right h2 {
    font-size: 24px;
    font-weight: bold;
    color: darkblue;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium';
}

.order-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium';
}

.total {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 18px;
}

.payment-method {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}

.payment-method div {
    display: flex;
    align-items: center;
}

.payment-method input[type="radio"] {
    margin-right: 5px;
}